p {
  text-align: center;
  font-size: 30px;
}
button {
  margin-left: 2px;
  padding: 5px 5px;
  border-radius: 2px;
  background-color: hsl(210, 100%, 50%);
  border: none;
}
button:hover {
  background-color: hsl(210, 100%, 70%);
}
button:active {
  background-color: hsl(210, 100%, 30%);
}
input {
  width: 150px;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}
div {
  margin: 5px;
}
div img {
  width: 150px;
  margin-left: 5px;
}
